#wpadminbar {
  display: none !important;
}

html {
  /* MACのみ文字が太くなる対策 */
  -webkit-font-smoothing: antialiased;
  margin-top: 0 !important;
  /* 注)文字が細すぎると感じる方はこの一行削除(Mac Google Chromeのみ) 1/2 */
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  /* 注)文字が細すぎると感じる方はこの一行削除(Mac Firefoxのみ) 2/2 */
}

a {
  color: #fff;
}

.for-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .for-sp {
    display: block;
  }
}



/* pageNavi */
.wp-pagenavi {
  display: flex;
  justify-content: center;
  margin-top: 197px;
}

.wp-pagenavi .current,
.wp-pagenavi .page,
.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
  border: none;
  color: var(--colorGray);
  font-family: var(--familyYuMincho);
  font-size: 20px;
  font-weight: 600;
}

.previouspostslink,
.nextpostslink {
  display: flex;
  gap: 36px;
  position: relative;
}

.wp-pagenavi .previouspostslink::before {
  border-bottom: 1px solid var(--colorGray);
  border-left: 1px solid var(--colorGray);
  content: "";
  display: block;
  height: 12px;
  left: -40px;
  position: absolute;
  top: 5px;
  transform: rotate(45deg);
  width: 12px;
}

.wp-pagenavi .nextpostslink::after {
  border-right: 1px solid var(--colorGray);
  border-top: 1px solid var(--colorGray);
  content: "";
  display: block;
  height: 12px;
  position: absolute;
  right: -40px;
  top: 5px;
  transform: rotate(45deg);
  width: 12px;
}

.wp-pagenavi a,
.wp-pagenavi span {
  margin: 0 30px!important;
}
