.header {
    background: transparent;
    box-sizing: border-box;
    left: 0;
    padding: 0 87px;
    position: fixed;
    top: 0;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    z-index: 10;
}

.header.dark {
    background-color: rgba(255, 255, 255, 0.8);
}

.blurBackground {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height: 100%;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-out;
    width: 100vw;
    z-index: -1;
}

.dark .blurBackground {
    opacity: 1;
}

.navbar {
    align-items: center;
    display: flex;
    height: 110px;
    justify-content: space-between;
}

.navbar__logo img {
    max-width: 217px;
}

.navbar__main {
    display: grid;
    gap: 19px;
    grid-template-columns: 1fr;
}

.navbar__link {
    cursor: pointer;
}

.navbar__list {
    display: flex;
    justify-content: end;
}

.navbar__list--top {
    gap: 70px;
}

.navbar__item a {
    color: #fff;
    font-family: var(--familyYuMincho);
    font-size: var(--fontMax18Min16);
    font-weight: 600;
    transition: color 0.3s;
}

.dark .navbar__item a {
    color: var(--colorBase);
}

.navbar__list--top .navbar__item:nth-child(1) {
    margin-right: 7px;
}

.navbar__list--top .navbar__item:nth-child(1) {
    margin-right: 17px;
}

.navbar__list--bottom {
    gap: 50px;
}

.navbar__list--bottom .navbar__item a {
    font-weight: 300;
    position: relative;
}

.navbar__list--bottom .navbar__item:not(:last-child) a::after {
    background: #fff;
    content: "";
    height: 21px;
    opacity: 0.46;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 0.5px;
}

.dark .navbar__list--bottom .navbar__item:not(:last-child) a::after {
    background: var(--colorBase);
}

.navbar__hamburger {
    display: none;
    height: 25px;
    position: relative;
    width: 30px;
}

.navbar__hamburger span {
    background: #fff;
    height: 2px;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 100%;
}

.dark .navbar__hamburger span {
    background: var(--colorBase);
}

.navbar__hamburger span:nth-child(1) {
    left: 0;
    top: 0;
}

.drawerOpen .navbar__hamburger span:nth-child(1) {
    transform: translate(-1px, 12px) rotate(45deg);
}

.navbar__hamburger span:nth-child(2) {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.drawerOpen .navbar__hamburger span:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}

.navbar__hamburger span:nth-child(3) {
    bottom: 0;
    left: 0;
}

.drawerOpen .navbar__hamburger span:nth-child(3) {
    transform: translate(-1px, -11px) rotate(-45deg);
}

.navdrawer {
    align-items: center;
    background: rgba(68, 68, 68, 0.95);
    display: flex;
    height: 100vh;
    left: 50%;
    position: fixed;
    top: 0;
    transform: translate(-50%, -100%);
    width: 100vw;
    z-index: -1;
}

.navdrawer__nav {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: fit-content;
}

.navdrawer__nav a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    font-family: var(--familyYuMincho);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 1.6;
    opacity: 0;
    transform: translateY(50px);
    visibility: hidden;
}

.navdrawer__nav a:last-child {
    border-bottom: none;
}

.megamenu {
    background: #fff;
    display: none;
    left: 0;
    padding: 80px 0 50px;
    position: fixed;
    top: 0;
    transition: 0.4s;
    width: 100%;
    z-index: 9999;
}

.megamenu__inner {
    margin: 0 auto;
    width: fit-content;
}

.megamenu__title {
    font-family: var(--familyYuMincho);
    font-size: 30px;
}

.megamenu__title span {
    display: inline-block;
    position: relative;
}

.megamenu__title span::after {
    /* background: url("../../images/icons/icon-arrow-right.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    content: "";
    height: 15px;
    margin-top: -7px;
    position: absolute;
    right: -34px;
    top: 50%;
    width: 15px;
}

.megamenu__title span a {
    color: var(--colorBase) !important;
}

.megamenuNav {
    column-gap: 150px;
    display: grid;
    grid-template-columns: 566px;
    margin-top: 40px;
}

.megamenuNav__box--title {
    border-bottom: 2px solid #707070;
    font-family: var(--familyYuMincho);
    font-size: 17px;
    padding-bottom: 24px;
}

.megamenuNav__list {
    column-gap: 50px;
    display: grid;
    grid-template-columns: 1fr;
}

.megamenuNav__list.for-single {
    grid-template-columns: 100%;
}

.megamenuNav__list li {
    border-bottom: 1px solid #707070;
    font-family: var(--familyYuMincho);
    font-weight: 300;
    position: relative;
}

.megamenuNav__list li:first-child {
    border-top: 1px solid #707070;
}

.megamenuNav__list li::after {
    background: url("../../images/icons/icon-chevron-right_black.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 15px;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 15px;
}

.megamenuNav__list li a {
    color: var(--colorBase) !important;
    display: block;
    padding: 24px 0;
}

.megamenuClose {
    margin-top: 80px;
    text-align: center;
}

.megamenuClose__word span {
    cursor: pointer;
    display: inline-block;
    font-family: var(--familyYuMincho);
    font-size: 17px;
    font-weight: 400;
    justify-content: center;
    position: relative;
}

.megamenuClose__word span::before {
    background: url("../../images/icons/icon-close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 15px;
    left: -24px;
    position: absolute;
    top: 2px;
    width: 15px;
}

@media screen and (max-width: 1200px) {
    .navbar__list {
        gap: 20px;
    }
    .navbar__list--bottom .navbar__item:not(:last-child) a::after {
        right: -10px;
    }
}

@media screen and (max-width: 950px) {
    .navbar {
        height: 60px;
    }

    .navbar__list {
        display: none;
    }
    .header {
        padding: 0 30px;
    }
    .navbar__logo img {
        max-width: 180px;
    }
    .navbar__hamburger {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .navbar__logo img {
        max-width: 140px;
    }
}
